<!--
<input type="text" #variable="ngModel" required [(ngModel)] = "input">
<p class="karen" [class.x] = "variable.invalid">Mensaje error</p>
<p> Lo escrito es {{input}}</p>
<hr>
-->
<div class="nosotros">
    <div class="contenedor-nosotros">
      <h2>Nosotros</h2>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Tempora velit
        sed molestiae distinctio soluta necessitatibus nisi minima, nulla
        perspiciatis, quas harum, laboriosam quo ab recusandae dolores eaque saepe
        in! Optio? Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Voluptas quasi odio, eveniet blanditiis esse cumque. Iure recusandae atque
        repellat earum corporis? Libero aliquam repudiandae rem veritatis maxime
        assumenda, vero quasi? Lorem ipsum dolor, sit amet consectetur adipisicing
        elit. Laudantium dolorem sunt in, est temporibus perspiciatis animi
        numquam voluptates doloremque fugit consectetur autem illo odio. Sed
        asperiores rerum placeat tenetur nihil.
      </p>
      <video controls muted loop src="../assets/Videos/video.mp4" width="650" height="350"></video>
    </div>
    <div class="contenedor-mision-vision">
      <div class="mision">
        <h2>Misión</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate,
          inventore reprehenderit, ipsam quia tenetur dolorum qui iusto nihil
          repellat obcaecati totam officia saepe! Nam illo rerum quisquam magni
          eaque suscipit! Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Quis nam doloremque nostrum facilis similique vitae, molestiae illo odio
          possimus maiores? Soluta totam quos quasi repudiandae minima. Officiis
          praesentium consequatur consequuntur. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Molestiae consequatur excepturi tempore
          unde omnis aut vitae similique ipsam voluptatem obcaecati, suscipit quae
          vel ducimus sit, nihil quod asperiores mollitia incidunt!
        </p>
      </div>
      <div class="vision">
        <h2>Visión</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate,
          inventore reprehenderit, ipsam quia tenetur dolorum qui iusto nihil
          repellat obcaecati totam officia saepe! Nam illo rerum quisquam magni
          eaque suscipit! Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Quis nam doloremque nostrum facilis similique vitae, molestiae illo odio
          possimus maiores? Soluta totam quos quasi repudiandae minima. Officiis
          praesentium consequatur consequuntur. Lorem ipsum dolor sit amet
          consectetur adipisicing elit. Molestiae consequatur excepturi tempore
          unde omnis aut vitae similique ipsam voluptatem obcaecati, suscipit quae
          vel ducimus sit, nihil quod asperiores mollitia incidunt!
        </p>
      </div>
    </div>
    <div class="contenedor-contacto">
      <h2>Contacto</h2>
      <!--asunto-->
      <div class="input-group">
        <input required="" type="text" name="text" autocomplete="off" class="input">
        <label class="user-label">Asunto:</label>
      </div>
      <!--Nombres y apellidos-->
      <div class="input-group">
        <input required="" type="text" name="text" autocomplete="off" class="input">
        <label class="user-label">Nombres y Apellidos:</label>
      </div>
      <!--Correo electronico-->
      <div class="input-group">
        <input required="" type="text" name="text" autocomplete="off" class="input">
        <label class="user-label">Correo Electronico:</label>
      </div>
      <!--Telefono-->
      <div class="input-group">
        <input required="" type="text" name="text" autocomplete="off" class="input">
        <label class="user-label">Telefono:</label>
      </div>
      <!--Mensaje-->
      <div class="input-group">
        <input required="" type="text" name="text" autocomplete="off" class="input">
        <label class="user-label">Mensaje:</label>
      </div>
      <button>
        <div class="svg-wrapper-1">
          <div class="svg-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24">
              <path fill="none" d="M0 0h24v24H0z"></path>
              <path fill="currentColor" d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"></path>
            </svg>
          </div>
        </div>
        <span>Enviar</span>
      </button>
    </div>
    <!--footer-->
    <div class="footer">
      <!--CONTACTENOS-->
      <div class="contactenos">
        <h2>contactenos</h2>
        <div class="datos">
          <h4>Dirección: Av. calle 5 No.69-58</h4>
          <h4>Tel: 8247738</h4>
          <h4>Cel: 3108247738</h4>
          <h4>Correo: karenlorenatibaquira28@hotmail.com</h4>
        </div>
      </div>
      <!--REDES-->
      <div class="redes">
        <div class="logo">
          <img src="../assets/Img/image.png" alt="" />
          <h3>Frutilandia</h3>
        </div>
        <div class="acceso-redes">
          <a href="https://wa.link/huvfdg" target="_blank"
            ><img width="40px" src="../assets/Iconos/whatsapp.png" alt=""
          /></a>
          <a href="https://www.facebook.com/karen.tibaquira" target="_blank">
            <img width="40px" src="../assets/Iconos/facebook.png" alt=""
          /></a>
          <a href="https://www.instagram.com/kareen_loorena/" target="_blank">
            <img width="40px" src="../assets/Iconos/instagram.png" alt=""
          /></a>
          <a href="https://www.youtube.com/" target="_blank">
            <img width="40px" src="../assets/Iconos/youtube.png" alt=""
          /></a>
        </div>
      </div>
  
      <!--HORARIOS-->
      <div class="horarios">
        <h2>Horarios de Atención</h2>
        <div class="datos-horarios">
          <h3>Lunes a viernes</h3>
          <h3>9:30 a.m - 7:30 p.m</h3>
          <h3>Sabado, Domingo y festivos</h3>
          <h3>8:00 a.m - 8:00 p.m</h3>
        </div>
      </div>
    </div>
    <!--derechos reservados-->
    <div class="derechos">
      <h4>&copy; Todos los derechos reservados a frutilandia</h4>
    </div>
  </div>
  