<div class="promociones">
    <h2 class="title-promociones">Promociones</h2>
    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide" *ngFor="let producto of productos">
          <div class="card" >
            <mat-card class="example-card" >
              <mat-card-header class="header-card">
                <mat-card-title>{{producto.nombre}}</mat-card-title>
              </mat-card-header>
              <mat-divider></mat-divider>
              {{producto.imagen}}
              <mat-card-content>
                <p>{{producto.precio}} x {{producto.descripcion}}</p>
              </mat-card-content>
              <mat-divider></mat-divider>
              <mat-card-actions class="actions-cards">
                <button class="card-boton" mat-button>Ver más</button>
              </mat-card-actions>
            </mat-card> 
          </div>
        </div>
      </div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
    </div>
    <!--nosotros-->
    <div class="frutilandia">
      <div class="contenido">
        <h2>Frutilandia</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad aliquid
          voluptatum eveniet nam! Eaque dolore nobis quia sit at libero officiis
          quis iste ipsam atque dolores commodi sunt, nostrum distinctio. Lorem
          ipsum dolor sit amet consectetur adipisicing elit. Ad aliquid voluptatum
          eveniet nam! Eaque dolore nobis quia sit at libero officiis quis iste
          ipsam atque dolores commodi sunt, nostrum distinctio.consectetur
          adipisicing elit. Ad aliquid voluptatum eveniet nam! Eaque dolore nobis
          quia sit at libero officiis quis iste ipsam atque dolores commodi sunt,
          nostrum distinctio.
        </p>
        <!--boton conoce mas con animacion-->
        <button class="learn-more">
          <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
          </span>
          <span class="button-text">Conoce más de nosotros</span>
        </button>
        <!--button class="card-boton" mat-button>Conoce más de nosotros</button-->
      </div>
      <video
        class="video"
        controls
        muted
        loop
        src="../assets/videos/video.mp4"
        width="400"
        height="200"
      ></video>
    </div>
    <!--sucursales-->
    <div class="sucursales">
      <h2>Nuestas sucursales</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad aliquid
        voluptatum eveniet nam! Eaque dolore nobis quia sit at libero officiis
        quis iste ipsam atque dolores commodi sunt, nostrum distinctio. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Ad aliquid voluptatum
        eveniet nam! Eaque dolore nobis quia sit at libero officiis quis iste
        ipsam atque dolores commodi sunt, nostrum distinctio.consectetur
        adipisicing elit. Ad aliquid voluptatum eveniet nam! Eaque dolore nobis
        quia sit at libero officiis quis iste ipsam atque dolores commodi sunt,
        nostrum distinctio.
      </p>
      <div class="contenido-sucursales">
        <div class="direccion">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15904.881515892133!2d-74.20309029218747!3d4.731742199999999!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f82e909c56225%3A0x8adf414cf98ed022!2sRestaurante!5e0!3m2!1ses-419!2sco!4v1664491105454!5m2!1ses-419!2sco"
            width="312"
            height="250"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
          <div>
            <button mat-button>Ver más</button>
          </div>
        </div>
        <div class="direccion2">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15904.818577245707!2d-74.19999089218747!3d4.734480600000003!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e3f82ef4e119261%3A0xc665b4c07497cc89!2sRestaurante%20Deli!5e0!3m2!1ses-419!2sco!4v1664491298278!5m2!1ses-419!2sco"
            width="312"
            height="250"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
          <div>
            <button mat-button>Ver más</button>
          </div>
        </div>
      </div>
    </div>
  
    <!--footer-->
    <div class="footer">
      <!--CONTACTENOS-->
      <div class="contactenos">
        <h2>contactenos</h2>
        <div class="datos">
          <h4>Dirección: Av. calle 5 No.69-58</h4>
          <h4>Tel: 8247738</h4>
          <h4>Cel: 3108247738</h4>
          <h4>Correo: karenlorenatibaquira28@hotmail.com</h4>
        </div>
      </div>
      <!--REDES-->
      <div class="redes">
        <div class="logo">
          <img src="../assets/img/image.png" alt="" />
          <h3>Frutilandia</h3>
        </div>
        <div class="acceso-redes">
          <a href="https://wa.link/huvfdg" target="_blank"
            ><img width="40px" src="../assets/iconos/whatsapp.png" alt=""
          /></a>
          <a href="https://www.facebook.com/karen.tibaquira" target="_blank">
            <img width="40px" src="../assets/iconos/facebook.png" alt=""
          /></a>
          <a href="https://www.instagram.com/kareen_loorena/" target="_blank">
            <img width="40px" src="../assets/iconos/instagram.png" alt=""
          /></a>
          <a href="https://www.youtube.com/" target="_blank">
            <img width="40px" src="../assets/iconos/youtube.png" alt=""
          /></a>
        </div>
      </div>
  
      <!--HORARIOS-->
      <div class="horarios">
        <h2>Horarios de Atención</h2>
        <div class="datos-horarios">
          <h3>Lunes a viernes</h3>
          <h3>9:30 a.m - 7:30 p.m</h3>
          <h3>Sabado, Domingo y festivos</h3>
          <h3>8:00 a.m - 8:00 p.m</h3>
        </div>
      </div>
    </div>
    <!--derechos reservados-->
    <div class="derechos">
      <h4>&copy; Todos los derechos reservados a frutilandia</h4>
    </div>
  </div>
